.backgroundImage
{
    display: flex;
    flex-direction: column;
    background-image: url('./Resources/background.jpg'); no-repeat center center;
    min-height: 100%;
    padding: 2% 0 2% 0;
    position: relative;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    border-width: 10px solid !important;
    border-color: #9a6319!important;
}
.navbar-item{
  color: #9a6319 !important;
  font-weight: bold;
  font-family: cursive;
  font-size: 1.2em;
}
.name-heading{
  color: black;
  font-size: 3em;
  font-family: Trebuchet MS;
  font-weight: bold;
}
@media (max-width: 768px) {
  .name-heading{
    color: black;
    font-size: 1.5em;
    font-family: Trebuchet MS;
    font-weight: bold;
  }
}

#dp{
  background-image: url('./Resources/me2.jpg'); no-repeat center center;
  height: 200px;
  width: 200px;
  padding: 71px 0 65px 0;
  position: relative;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  border-color: #9a6319;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #9a6319;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.know-more:hover, know-more:focus, know-more:active, know-more.active {
    outline: 0;
    text-decoration: none;
    color: #000 !important;

}
._center{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
